
In this session  We will Cover

    PySpark Dataframe
    Reading The Dataset
    Checking the Datatypes of the Column(Schema)
    Selecting Columns And Indexing
    Check Describe option similar to Pandas
    Adding Columns
    Dropping columns
    Renaming Columns

# Pyspark Dataframe

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [12]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('file:///home/genet/Desktop/Test1.csv',inferSchema=True)

In [13]:
## Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [14]:
df_pyspark=spark.read.csv('file:///home/genet/Desktop/Test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Genet| 31|        10| 30000|
| Ababe| 30|         8| 25000|
|Kebede| 29|         4| 20000|
| Sofil| 24|         3| 20000|
|Meryum| 21|         1| 15000|
|  Sani| 23|         2| 18000|
+------+---+----------+------+

In [15]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.head(3)

[Row(Name='Genet', Age=31, Experience=10, Salary=30000),
 Row(Name='Ababe', Age=30, Experience=8, Salary=25000),
 Row(Name='Kebede', Age=29, Experience=4, Salary=20000)]

In [18]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Genet| 31|        10| 30000|
| Ababe| 30|         8| 25000|
|Kebede| 29|         4| 20000|
| Sofil| 24|         3| 20000|
|Meryum| 21|         1| 15000|
|  Sani| 23|         2| 18000|
+------+---+----------+------+

In [19]:


df_pyspark.select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
| Genet|        10|
| Ababe|         8|
|Kebede|         4|
| Sofil|         3|
|Meryum|         1|
|  Sani|         2|
+------+----------+

In [20]:
df_pyspark['Name']

Column<'Name'>

In [21]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [23]:
df_pyspark.describe().show()

+-------+-----+------------------+-----------------+------------------+
|summary| Name|               Age|       Experience|            Salary|
+-------+-----+------------------+-----------------+------------------+
|  count|    6|                 6|                6|                 6|
|   mean| null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev| null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Ababe|                21|                1|             15000|
|    max|Sofil|                31|               10|             30000|
+-------+-----+------------------+-----------------+------------------+

In [24]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [25]:
df_pyspark.show()

+------+---+----------+------+-----------------------+
|  Name|Age|Experience|Salary|Experience After 2 year|
+------+---+----------+------+-----------------------+
| Genet| 31|        10| 30000|                     12|
| Ababe| 30|         8| 25000|                     10|
|Kebede| 29|         4| 20000|                      6|
| Sofil| 24|         3| 20000|                      5|
|Meryum| 21|         1| 15000|                      3|
|  Sani| 23|         2| 18000|                      4|
+------+---+----------+------+-----------------------+

In [27]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [28]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Genet| 31|        10| 30000|
| Ababe| 30|         8| 25000|
|Kebede| 29|         4| 20000|
| Sofil| 24|         3| 20000|
|Meryum| 21|         1| 15000|
|  Sani| 23|         2| 18000|
+------+---+----------+------+

In [29]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+------+
|New Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Genet| 31|        10| 30000|
|   Ababe| 30|         8| 25000|
|  Kebede| 29|         4| 20000|
|   Sofil| 24|         3| 20000|
|  Meryum| 21|         1| 15000|
|    Sani| 23|         2| 18000|
+--------+---+----------+------+