Pyspark Dataframes

    Filter Operation
    &,|,==
    ~

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [4]:
df_pyspark=spark.read.csv('file:///home/genet/Desktop/Test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Genet| 31|        10| 30000|
| Ababe| 30|         8| 25000|
|Kebede| 29|         4| 20000|
| Sofil| 24|         3| 20000|
|Meryum| 21|         1| 15000|
|  Sani| 23|         2| 18000|
+------+---+----------+------+

# Filter Operations

In [5]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Kebede| 29|         4| 20000|
| Sofil| 24|         3| 20000|
|Meryum| 21|         1| 15000|
|  Sani| 23|         2| 18000|
+------+---+----------+------+

In [6]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary>=20000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Genet| 31|        10| 30000|
| Ababe| 30|         8| 25000|
|Kebede| 29|         4| 20000|
| Sofil| 24|         3| 20000|
+------+---+----------+------+

In [7]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+------+---+
|  Name|age|
+------+---+
|Kebede| 29|
| Sofil| 24|
|Meryum| 21|
|  Sani| 23|
+------+---+

In [8]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Kebede| 29|         4| 20000|
| Sofil| 24|         3| 20000|
|Meryum| 21|         1| 15000|
|  Sani| 23|         2| 18000|
+------+---+----------+------+

In [9]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Genet| 31|        10| 30000|
| Ababe| 30|         8| 25000|
|Kebede| 29|         4| 20000|
| Sofil| 24|         3| 20000|
|Meryum| 21|         1| 15000|
|  Sani| 23|         2| 18000|
+------+---+----------+------+

In [10]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Genet| 31|        10| 30000|
|Ababe| 30|         8| 25000|
+-----+---+----------+------+